.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
src/GCATCPP/.idea/
src/GCATCPP/cmake-build-debug/
src/GCATCPP/codes/*.o
src/GCATCPP/libs/
*.o

*.toc
*.out
*.log
*.aux
*.gz
.idea/
.idea/workspace.xml
.idea/dictionaries/Martin.xml
src/GCATCPP/unit_tests/asserts/*.csv
