.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
src/GCATCPP/.idea/
src/GCATCPP/cmake-build-debug/
src/GCATCPP/codes/*.o
src/GCATCPP/libs/
*.o

*.toc
*.out
*.log
*.aux
*.gz
.idea/
src/GCATCPP/unit_tests/asserts/*.csv

data/GCATR_tikzgraph.tex

GCATR_tikzgraph/GCATR_tikzgraph
